# pandas.read_sql

In this section I will describe the `pandas.read_sql` function as a basic way to load data from databases into pandas.

The next cell starts a database in a docker container, which will be used as an example.

[SQL script](postgres_inter_files/simple_example_db/create_table.sql) for initialisation postgres datase used in this example.

In [4]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.engine import URL 

!docker run --rm -d\
    -v ./postgres_inter_files/simple_example_db:/docker-entrypoint-initdb.d\
    -e POSTGRES_PASSWORD=docker_app\
    --name read_postgres_to_pandas_to_pandas\
    -p 5431:5432\
    postgres:15.4 &> /dev/null

**Note** Don't forget to stop the cantainer when you have finished playing with the examples.

In [3]:
!docker stop read_postgres_to_pandas &> /dev/null

## SQLAlchemy

There is a very important library for organising the interaction between the database and the pandas - <a href="https://www.sqlalchemy.org/">SQLAlchemy</a>.

- <a href="https://docs.sqlalchemy.org/en/20/core/engines.html#postgresql">Create engine in SQlAlchemy</a>.

## Basic

You can use `pandas.read_sql` and pass the created SQLAlchemy engine as `con` argument.

So in the following example, I start the postgres database in the docker container and then read information from it directly to pandas.

In [5]:
url_object = URL.create(
    "postgresql+psycopg2",
    username="postgres",
    password="docker_app",
    host="localhost",
    port=5431,
    database="postgres",
)
engine = create_engine(url_object)

df = pd.read_sql('SELECT * FROM main_table', con=engine, index_col = "id")
display(df)

     text
id
0   Text1
1   tExT2
3   TEXT3

## Connection as line

It is possible not to create connection as strictly as shown in the previous example - you can use a string that contains all the necessary information in itself. And pass it as the connection argument. The pattern for this line will looks like `dialect+driver://username:password@host:port/database`.

So in the following example I just use this feature:

In [6]:
df = pd.read_sql(
    'SELECT * FROM main_table', 
    con="postgresql+psycopg2://postgres:docker_app@localhost:5431/postgres", 
    index_col = "id"
)
display(df)

     text
id
0   Text1
1   tExT2
3   TEXT3

In the case of postgres sql, you don't even need to mention `psycopg2` - it will be used by default. So the next cell is identical to the previous one, except that `driver' isn't mentioned.

In [20]:
df = pd.read_sql(
    'SELECT * FROM main_table', 
    con="postgresql://postgres:docker_app@localhost:5431/postgres", 
    index_col = "id"
)
display(df)

     text
id
0   Text1
1   tExT2
3   TEXT3

### No SQLAlchemy

Actually, it's possible to use the Postgres database without using SQLAlchemy - just pass the `connection object` from `psycopg2` to the `con` parameter of the `read_sql` function.

In the following example, that's exactly what I did - but I got a warning that the pandas connection was only tested with sqlAlchemy, so it's better to use it.

In [21]:
import psycopg2

conn = psycopg2.connect(
    port = "5431", # same as when creating a postgres container
    dbname = "postgres",
    user = "postgres",
    password = "docker_app",
    host= "localhost"
)

df = pd.read_sql('SELECT * FROM main_table', con=conn)
display(df)
conn.close()

/tmp/ipykernel_16808/3075988519.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT * FROM main_table', con=conn)

  id   text
0  0  Text1
1  1  tExT2
2  3  TEXT3

## List tables

You cannot use `\dt` to list available tables for the current database. Looks like it's a peculiarity of sqlachemy - so you have to use `pg_catalog.pg_tables`.

So in the following cells I try both options, as you can see `dt` causes errors related to syntax.

In [15]:
try:
    pd.read_sql("\dt;", con=engine)
except Exception as e:
    print(e)

(psycopg2.errors.SyntaxError) syntax error at or near "\"
LINE 1: \dt;
        ^

[SQL: \dt;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [16]:
pd.read_sql(
    "SELECT * FROM pg_catalog.pg_tables WHERE schemaname=\'public\'",
    con = engine
)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,main_table,postgres,None,False,False,False,False