# Styles

It's useful to have ability to highlight some cells depending on their content. This page focuses on how to do this in pandas and how to display it in jupyter notebook. To get more examples check out [table visualisation on official pandas documentation](https://pandas.pydata.org/docs/user_guide/style.html#Table-Styles).

In [2]:
import numpy as np
import pandas as pd

## `style.map`

It's quite common to highlight large values with one colour and small values with another. This can be achieved with `DataFrame.style.map`. You have to pass a callable that is executed for each cell - it takes it's value and returns a `str` that describes it's property.

---

The following example shows how values higher than 0.5 are coloured red and others green.

In [4]:
sample_size = 10

def color_map(val):
    color = 'green' if val > 0.5 else 'red'
    return f'background-color: {color}'

pd.DataFrame({
    "a" : np.random.rand(sample_size),
    "b" : np.random.rand(sample_size)
}).style.map(color_map)

## Gradients

With `Style.background_gradient`, you can gradually change the background color of the cell, and with `Style.text_gradient`, you can apply a gradient effect to the text color within the cell.

---

The following cell demonstrates the application of these tools to the Pandas dataframe.

In [22]:
sample_size = 10

df = pd.DataFrame({
    "a" : np.random.rand(sample_size),
    "b" : np.random.rand(sample_size)
})

(
    df.sort_values("a").style
    .background_gradient(axis=0, cmap="RdYlGn", subset=["a"])
    .text_gradient(axis=0, subset="b")
)