# sqlite

`sqlite3` package implements a sqlite database in the python. It's usually build in package. Check [its page](https://docs.python.org/3/library/sqlite3.html) in python.org.

In [5]:
import sqlite3

## Usage

To use database you need: create connection, get cursor, manipulate with database using cursor methods.

---

The following cell creates the connection - it passes `:memory:` to use the database only in memory without any file where data will be stored.

In [22]:
con = sqlite3.connect(':memory:')

Next code shows how to create cursor and load data from it.

In [23]:
cursor = con.cursor()
cursor.execute("SELECT 1 as val1, 2 as val2;")

The following cells show how you can extract data and ged description to it.

In [24]:
cursor.fetchall()

[(1, 2)]

In [25]:
cursor.description

(('val1', None, None, None, None, None, None),
 ('val2', None, None, None, None, None, None))

## Not query

Consider how sqlite deals with commands that aren't supposed to return data. After executing such commands:

- `fetchone`: cursor returns `None`.
- `fetchall`: cursor returns `[]`.
- `description`: attribute of the cursor takes the value `None`.

---

The following cell executes a command that creates a table and displays values taken from various different attributes and methods of the cursor.

In [9]:
con = sqlite3.connect(":memory:")
cursor = con.cursor()

cursor.execute("CREATE TABLE my_table (col1 INT);")

print("description", cursor.description)
print("fetchone()", cursor.fetchone())
print("fetchall()", cursor.fetchall())

cursor.close()

description None
fetchone() None
fetchall() []

## Several commands

SQLite doesn't support option to execute several SQL commands as the one string. For convenience of experiments in this section, self-created tool `src.execute_several_statements` is used.

---

The following cell shows a type of error you'll get if you try to execute SQL code that contains multiple queries in one execution.

In [16]:
con = sqlite3.connect(":memory:")
cursor = con.cursor()
try:
    cursor.execute("""
    CREATE TABLE tab1 (val INT);
    INSERT INTO tab1 (val) VALUES (10), (40);
    """)
except Exception as e: print(type(e), e)

<class 'sqlite3.ProgrammingError'> You can only execute one statement at a time.

The follwing code shows a solution that you can use - use `execute_several_statements` to execute code.

In [17]:
from src.sqlite import execute_several_statements
queries = """
    CREATE TABLE tab1 (val INT);
    SELECT 10 as value;
    INSERT INTO tab1 (val) VALUES (10), (40);
"""
execute_several_statements(
    cursor=cursor, queries=queries
)

[(None, []),
 ((('value', None, None, None, None, None, None),), [(10,)]),
 (None, [])]

The result is a list containing `description` and `fetchall()` of the corresponding query.